
.vs/projetoFarmacia/FileContentIndex/f7fb0504-a839-4b3b-9676-6127844cc23e.vsidx
.vs/projetoFarmacia/FileContentIndex/read.lock
.vs/projetoFarmacia/v17/.suo
bin/Debug/projetoFarmacia.exe
bin/Debug/projetoFarmacia.exe.config
bin/Debug/projetoFarmacia.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/projetoFarmacia.csproj.AssemblyReference.cache
obj/Debug/projetoFarmacia.csproj.CoreCompileInputs.cache
obj/Debug/projetoFarmacia.csproj.FileListAbsolute.txt
obj/Debug/projetoFarmacia.csproj.GenerateResource.cache
obj/Debug/projetoFarmacia.csproj.SuggestedBindingRedirects.cache
obj/Debug/projetoFarmacia.exe
obj/Debug/projetoFarmacia.Form1.resources
obj/Debug/projetoFarmacia.frmCadastrarPessoa.resources
obj/Debug/projetoFarmacia.frmCadastroEstoque.resources
obj/Debug/projetoFarmacia.frmPrincipal.resources
obj/Debug/projetoFarmacia.pdb
obj/Debug/projetoFarmacia.Properties.Resources.resources
